@import url("https://fonts.googleapis.com/css2?family=Agdasima&family=Dancing+Script:wght@700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* Isso aqui é para ficar 10px de fonte como referência */
}

.ourFont {
  font-family: "Dancing Script", cursive;
}
body {
  box-sizing: border-box;
  background-color: white;
}

.fixFont {
  font-size: 3.2rem;
}
.hoverOrange:hover {
  color: #ffbe33 !important;
  cursor: pointer;
}
.galeria {
  height: calc(100vh - 10.4rem);
}
.fixh {
  height: 8.4rem !important;
}
.fixTop {
  top: 35%;
}
.fixIndicator {
  width: fit-content;
  left: 0;
  margin: 0 !important;
  top: 35%;
}
.fixPaddingR {
  padding-right: 60rem;
}
.container {
  max-width: 1170px;
}
.carousel-indicators button {
  border-radius: 50%;
  height: 1.2rem !important;
  width: 1.2rem !important;
}
.carousel-indicators .active {
  height: 2rem !important;
  width: 2rem !important;
  background-color: #ffbe33;
}
